.vscode
.vscode-test
src
tsconfig.json
**/*.ts
!out/**
*.vsix
.git
.gitignore
out/test/**
node_modules/**/*.map
node_modules/**/*.d.ts
node_modules/**/tsconfig.json
node_modules/**/SECURITY.md
node_modules/**/SUPPORT.md
node_modules/**/README.md
node_modules/**/CHANGELOG.md
node_modules/**/LICENSE
node_modules/**/LICENSE.TXT
node_modules/**/NOTICE
node_modules/**/PRIVACY
node_modules/**/CONTRIBUTING.md
node_modules/**/CODE_OF_CONDUCT.md
node_modules/**/browser/**
node_modules/**/node-esm/**
node_modules/**/dist-es5/**
node_modules/**/dist-esm/**
node_modules/**/bundle/**
node_modules/**/types/**
node_modules/**/tools/**
node_modules/**/dist/browser/**
node_modules/**/dist/node-esm/**
